ul#cssmw {
	cursor: default;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
}
ul#cssmw ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw ul li {
  background-image: none;
  float: none;
}
ul#cssmw li {
  background-image: none;
  float: left;
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
}
ul#cssmw li ul {
  display: none;
  top: 0;
}
ul#cssmw li:hover > ul {
  display: block;
  position: absolute;
}
ul#cssmw > li {
  background-image: none;
  background-position: center;
}
ul#cssmw > li > span {
  background-image: none;
  display: block;
}
ul#cssmw > li > span > a {
	background-position: center;
	background-repeat: repeat-x;
	border-bottom-style: none;
	color: #ffffff;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 8px 5px 8px 5px;
	text-decoration: none;
	text-transform: uppercase;
	width: 85px;
	border-right: 1px solid #4B4A4A;
}
ul#cssmw > li > span > a:active {
  background-image: url("images/navbgover.png");
  background-position: center;
  background-repeat: repeat-x;
  color: #272B4B;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw > li:hover > span {
  display: block;
}
ul#cssmw > li:hover > span > a {
	background-image: url("images/navbgover.png");
	background-position: center;
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
ul#cssmw ul.level-1 {
	left: 0px;
	top: 100%;
	text-align: left;
}
ul#cssmw ul.level-1 > li {
  background-image: none;
}
ul#cssmw ul.level-1 > li > span {
  background-image: none;
  display: block;
}
/*Drop down menu*/
ul#cssmw ul.level-1 > li > span > a {
	background-color: #FFFFFF;
	background-image: none;
	border-bottom-style: none;
	border-bottom: 1px solid #989797;
	color: #272B4B;
	display: block;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	text-transform: none;
	width: 170px;
	border-right: 1px solid #989797;
	border-left: 1px solid #989797;
}
ul#cssmw ul.level-1 > li > span > a:active {
	background-color: #92A2BE;
	color: #272B4B;
	font-weight: normal;
	text-decoration: none;
}
ul#cssmw ul.level-1 > li:hover > span {
  display: block;
}
ul#cssmw ul.level-1 > li:hover > span > a {
  background-color: #E2E1E1;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
}
ul#cssmw ul.level-2 {
	left: 182px;
	text-align: left;
}
ul#cssmw ul.level-2 > li {
  background-image: none;
}
ul#cssmw ul.level-2 > li > span {
  background-image: none;
  display: block;
}
ul#cssmw ul.level-2 > li > span > a {
	background-color: #FFFFFF;
	background-image: none;
	border-bottom-style: none;
	border-top: 1px solid #989797;
	border-bottom: 1px solid #989797;
	color: #272B4B;
	display: block;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	text-transform: none;
	width: 170px;
	border-right: 1px solid #989797;
	border-left: 1px solid #989797;
}
ul#cssmw ul.level-2 > li > span > a:active {
  color: #272B4B;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw ul.level-2 > li:hover > span {
  display: block;
}
ul#cssmw ul.level-2 > li:hover > span > a {
 background-color: #E2E1E1;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
}
