body {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
h1 {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
h2 {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
h3 {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
h4 {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
h5 {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
h6 {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
a,  a:link {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
a:visited {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
a:hover {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
a:focus {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
a:active {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
#outerWrapper {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
#outerWrapper #header {border-bottom:0.5pt solid #000;}

#outerWrapper #topNavigation {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
#outerWrapper #contentWrapper {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
#outerWrapper #contentWrapper #leftColumn1 {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
#outerWrapper #contentWrapper #rightColumn1 {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
#outerWrapper #contentWrapper #content {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
#outerWrapper #footer {
  background-color: #fff;
  background-image: none;
  border-color: #000;
  color: #000;
}
.noprint, .noscreen, #search, #nav, #aside {display:none;}

/* ----------------------------------------------------------------------------------------------------------
LAYOUT
---------------------------------------------------------------------------------------------------------- */

#main {width:100%;}