#header {background: #1F1F1F url(images/logo.gif) no-repeat left top;}
#search #search-input {border:1px solid #FFF;}
#search #search-submit {border:1px solid #25A8C4; background:#25A8C4; color:#FFF;}
